@import "node_modules/bootstrap/scss/bootstrap";
@import "./components/breadcrumb.scss";

.node {
    display: flex;
    align-items: center;
    // make node title text unselectable
    user-select: none;
    position: relative;
  
    .icon {
      width: 5rem;
      height: 4rem;
      margin-bottom: 1rem;
    }
  
    .icon.folder {
      background-image: url("/assets/images/folder.svg");
      background-size: 100% 100%;
    }
  
    .icon.document {
      background-image: url("/assets/images/document.svg");
      background-size: 100% 100%;
    }
}

.node.folder.place-holder {
  margin: 0.5rem;
  

  .icon {
    width: 4rem;
    height: 3rem;
  }
}
