@import "node_modules/bootstrap/scss/bootstrap";

.node {
    display: flex;
    align-items: center;
    // make node title text unselectable
    user-select: none;
    position: relative;
  
    .icon {
      width: 5rem;
      height: 4rem;
    }
  
    .icon.folder {
      background-image: url("/assets/images/folder.svg");
      background-size: 100% 100%;
    }
  
    .icon.document {
      background-image: url("/assets/images/document.svg");
      background-size: 100% 100%;
    }
}


ul.breadcrumb {
    display: flex;
    list-style-type: none;

    li.breadcrumb-item {
        margin: 0.25rem;
        .btn {
            text-decoration: none;
            padding: 0;
        }
        .btn:hover {
            text-decoration: underline;
        }
    }
}
