<div class="modal" tabindex="-1" ...attributes>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete selected items?
      </div>
      <div class="modal-footer">
        {{#if this.delete_node_task.isRunning}}
          <Spinner />
        {{/if}}
        <button
          type="button"
          class="btn btn-danger"
          {{on "click" this.onClickDelete}}>Delete</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          {{on "click" this.onClickCancel}}>Cancel</button>
      </div>
    </div>
  </div>
</div>
