<div class="modal" tabindex="-1" ...attributes>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Folder</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="node-title" class="form-label">New title:</label>
        <Input
            id="node-title"
            class="form-control"
            @type="text"
            @value={{this.new_title}} />
      </div>
      <div class="modal-footer">
        {{#if this.new_folder_task.isRunning}}
          <Spinner />
        {{/if}}
        <button
          type="button"
          class="btn btn-primary"
          {{on "click" this.onClickCreate}}>Create Folder</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          {{on "click" this.onClickCancel}}>Cancel</button>
      </div>
    </div>
  </div>
</div>
