<div class="modal" tabindex="-1" ...attributes>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rename</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="node-title" class="form-label">New title:</label>
        <Input
            id="node-title"
            class="form-control"
            @type="text"
            @value={{@node.attributes.title}} />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Rename</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
